<style type="text/css">

.indent {
  padding-left: 1em;
}

body > div.container > p:nth-child(4) {
  max-width: 33em;
}

</style>

<div class="container">
  <h1>About</h1>
  <p></p>
  <p>SpaceShare is the online marketplace for spaces</p>
  <p>If you don't have the right space to pursue your creative outlet, or you have extra space that you're looking to rent out, look no further than Spaceshare</p>
  <h2>How it works for makers:</h2>
  <div class="indent">
    <p>Browse listings, find the right space for you and your hobby</p>
    <p>Contact the host</p>
    <p>Create away!</p>
  </div>
  <h2>How it works for hosts:</h2>
  <div class="indent">
    <p>Identify the space you want to list</p>
    <p>Find out what type of creators you might want to attract</p>
    <p>List your space!</p>
  </div>
</div>