<div class="container">
  <% @listings.each do |listing| %>  
  <div class="listing-match">
      <div class="match-title">
        <%= listing.title %>
      </div>
      <div class="match-body">
        <p>
          <%= listing.body %>
        </p>
        <div class="image-thumb">
          <% for picture in listing.listing_pictures %>
            <%= image_tag picture.picture.url(:thumb) %>
          <% end %>
        </div>
        <div class="image-large">
          <% for picture in listing.listing_pictures.first(1) %>
            <%= image_tag picture.picture.url(:large) %> 
          <% end %>
        </div>
      </div>
  </div>
  <% end -%>
</div>

<script type="text/javascript">

var container = document.querySelector(".container");
container.addEventListener("click", sayHi);

function sayHi (e) {
  var target = e.target
  var large = target.parentNode.parentNode.querySelector('.image-large');

  large.innerHTML = ""
  var img = target.getAttribute("src");
  var newPath = img.replace("/thumb/", "/large/");
  //Set Large image
  var newImg = document.createElement("img");
  large.appendChild(newImg);
  newImg.setAttribute("src", newPath)

}
</script>