<div class="outer-nav">
  <div class="navbar">
    <div class="navbar-inner">
      <a ><%= link_to 'SpaceShare', root_path, :class => 'brand' %></a>
      <ul class="nav">
        <li class=""><%= link_to 'Browse listings', listings_path %></li>
        <li class=""><%= link_to 'List your space!', new_listing_path %></li>
      </ul>
    </div>
  </div>
</div>